<div class="contact-edit">
    <img [src]="contact ? contactImg : '../../../assets/img/user-img.png'">
    <form [formGroup]="form" class="edit-form">

        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" formControlName="name">
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" formControlName="email">
        </div>

        <div>
            <label for="phone">Phone:</label>
            <input type="text" id="phone" formControlName="phone">
        </div>

        <button (click)="onSave()">Save</button>
    </form>
</div>