.contact-edit {
    display: flex;
    flex-direction: column;
    padding: 15px;

    img {
        width: 200px;
        margin: auto;
        border-radius: 50%;
        background-color: #EEEEEE;
    }

    .edit-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        gap: 15px;
    }

    div {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    button {
        background-color: rgb(27, 27, 68);
        font-size: 20px;
        width: 100px;
        height: 30px;
        border-radius: 30px;
        color: #EEEEEE;
        cursor: pointer;
        border: none;
    }
}