footer {
    background-color: #002529;
    font-family: Livvic;
    color: #FFFFFF;
    height: 200px;
    font-weight: 600;
    padding-top: 55px;

    .footer-div {
        margin-right: 125px;
        width: 160px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .logo {
            font-size: 42px;
        }

        .nav-links {
            display: flex;
            font-size: 18px;
            gap: 45px;
        }
    }

    .footer-info {
        color: #99A8A9;
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex: 1;
    }

    .social {
        
    }
}