.home-info {
    height: 685px;
    background-color: #002F34;
    padding-top: 200px;
    font-family: Livvic;
    font-weight: 600;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;

    .title {
        width: 420px;
        font-size: 48px;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .card {
            width: 530px;
            display: flex;
            gap: 20px;

            img {
                width: 85px;
                height: 85px;
            }

            .card-txt {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .card-title {
                    color: #F67E7E;
                    font-size: 20px;
                }

                .card-desc {
                    font-size: 15px;
                }
            }
        }
    }

    .img3 {
        width: 200px;
        position: absolute;
        right: -100px;
        bottom: 0;
    }
}