.contact-preview {
    display: flex;
    padding: 15px;
    gap: 15px;
    cursor: pointer;

    &:hover {
        background-color: #EEEEEE;
    }

    img {
        width: 100px;
    }

    .specs {
        flex-grow: 1;
        font-size: 20px;
    }
}